* {
      box-sizing: border-box;
}
header {
      background-color: black;
      padding: 0;
      margin-bottom: 50px;
      text-align: center;
      height: 70px;
           
}

header > p {
      font-size: 70px;
      color: whitesmoke;
      font-family: 'Tektur', cursive;
}

div {
      text-align: center;
}

div > img{
      
      border-radius: 35px;
      width: 750px;
      margin: auto;
      box-shadow: 30px 30px 30px 5px #626b62;

}

#text {
      font-size: 60px;
      text-decoration-line: none;
      text-align: center;
      margin: 80px;
      margin-bottom: 100px; 
      font-family: 'Lugrasimo', cursive;

}

@keyframes animar-borde {
  0% {
    border-width: 0;
    border-color: black;
    color: black;
  }
  100% {
    border-width: 10px;
    border-color: #23e800f0;
    color: #23e800f0;
  }
}






div > a {
      padding: 20px;
      margin: 80px;
      text-decoration: none;
      color: black;
      border: 10px solid #23e800f0;
      font-size: 50px;
      border-radius: 50px;
      animation: animar-borde 1s ease-in-out infinite alternate-reverse;
      font-family: 'Tektur', cursive;
}

