body {
      background-color: white;
}
header {
      background-color: black;
      
      
}

h1 {
      font-size: 50px;
      text-align: center;  
      font-family: 'Roboto Mono', monospace; 
      margin: 90px 50px;
      
}
img {
      width: 900px;
      height: 900px;
      margin: 50px;
}
p {
      color: white;
      text-align: center;
      font-size: 70px;
      font-family: 'Dancing Script', cursive;
      
}
div {
      text-align: center;
    
}
.enlace {
      
      color: #008302;
      font-size: 50px;
      text-decoration: none;
      font-family: 'Roboto Mono', monospace; 
      border: 5px solid #00a710;
      background-color: white;
      padding: 20px;
      border-radius: 20px;
          
}
